@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    background-color: #1B1B1E;
    font-family: 'IBM Plex Mono', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #96031A;
    font-size: 50px;
}

h1.title {
    text-align: center;
}

hr.solid {
    width: 80%;
    border-top: #FBFFFE;
}

p.full-width {
    font-size: 15px;
    color: #FBFFFE;
    text-align: center;
    line-height: 25px;
    width: 70%;
    margin-left: 15%;
}

.inline-link {
    color: #FAA916;
    text-decoration: none;
}

.inline-link:hover {
    color: #96031A;
}